<h1>Lista de Asignaturas</h1>
<div>
  <mat-card>


<mat-list>

  <mat-list-item *ngFor="let subject of subjects"
  (click)="getStudents(subject)">
    {{subject.name}}

  </mat-list-item>
</mat-list>
  </mat-card>

<mat-list>
  <mat-list-item *ngFor="let student of students"
  (click)="getInfoStudent(student)">
    {{student.name}}
  </mat-list-item>
</mat-list>
  <div *ngIf="currentStudent">
      {{currentStudent.name}}
      {{currentStudent.address}}
      <mat-list>
        <mat-list-item *ngFor="let phone of currentStudent.phones">
          {{phone.description}}
          {{phone.number}}

        </mat-list-item>
      </mat-list>

  </div>
</div>
<h1>Lista de Especialidades</h1>
<div>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let especialidad of especialidades" (click)="getStudentsC(especialidad)">
        {{especialidad.name}}
      </mat-list-item>
    </mat-list>
  </mat-card>
        <mat-list>
          <mat-list-item *ngFor="let student of studentsC">
            {{student.name}}
          </mat-list-item>
        </mat-list>


</div>





<h1>Añadir estudente a asignatura</h1>
<mat-card>
  <h3>Asignaturas:</h3>
<mat-list>
  <mat-list-item *ngFor="let subject of subjects"
                 (click)="saveSubject(subject)">
    {{subject.name}}

  </mat-list-item>
</mat-list>
</mat-card>
<p></p>
<mat-card>
  <h3>Estudiantes:</h3>
<mat-list>
  <mat-list-item *ngFor="let student of allStudents"
                 (click)="saveStudent(student)">
    {{student.name}}
  </mat-list-item>
</mat-list>
</mat-card>
<button mat-raised-button (click)="joinStudent()">Añadir</button>
<h1>Añadir asignatura</h1>

<input matInput placeholder="name" [formControl]="form" >

<button mat-raised-button (click)="addSubject()">Añadir Asignatura </button>





